@font-face {
  font-family: "Merriweather";
  src: url(./assets/fonts/Merriweather_36pt-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
  font-style: normal;
}

@keyframes bounce-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-up-down {
  animation: bounce-up-down 1s ease-in-out infinite;
}

.text::after {
  content: "";
  display: block;
  text-align: center;
  width: 100px;
  height: 4px;
  background-color: #f2c57c;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
